<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet" />
    <title>Attributions</title>
  </head>
  <body>
    <!-- -------- -->
    <br />
    <div class="title">
      <h1>Attributions</h1>
    </div>
    <div class="Content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
        reiciendis autem distinctio quos voluptatum, cupiditate molestiae fuga
        vel. Atque voluptatum provident et quos alias reprehenderit quas aut,
        cumque impedit inventore.
      </p>
      <br />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro cum,
        consectetur labore tempora laboriosam quos dolor deserunt nostrum
        numquam animi incidunt asperiores nisi dolorum eum est assumenda nulla.
        Harum, nobis?
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda modi
        incidunt ducimus, ex libero rerum laboriosam natus? Vero eos voluptates
        magni, fugit, nemo, reiciendis velit deleniti minima tempore voluptatem
        ab.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda modi
        incidunt ducimus, ex libero rerum laboriosam natus? Vero eos voluptates
        magni, fugit, nemo, reiciendis velit deleniti minima tempore voluptatem
        ab.
      </p>
    </div>
  </body>
</html>
