<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet" />
    <title>Contributions</title>
  </head>
  <body>
    <!-- page content -->
    <br />
    <div class="title"><h1>Contributions</h1></div>
    <div class="Content heading">
      <br />
      <h1>
        abcds: Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h1>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
        inventore reprehenderit cupiditate, saepe, quos non modi officiis sit
        eius provident dolor. Iure, labore repellendus non dolore architecto in
        optio enim. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <br />
      <h1>
        abcds: Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h1>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
        inventore reprehenderit cupiditate, saepe, quos non modi officiis sit
        eius provident dolor. Iure, labore repellendus non dolore architecto in
        optio enim. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <br />
      <h1>
        abcds: Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </h1>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
        inventore reprehenderit cupiditate, saepe, quos non modi officiis sit
        eius provident dolor. Iure, labore repellendus non dolore architecto in
        optio enim. Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <br />
    </div>
  </body>
</html>
