<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet" />
    <title>Description</title>
  </head>
  <body>
    <!-- page content -->
    <br>
    <div class="title">
      <h1>Project Description</h1>
    </div>
      <div class="Content">
      <p class="dheading">
        <strong>What is the problem we are trying to solve?</strong>
      </p>
      <br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt,
        harum voluptas. Impedit quas ipsa eos suscipit tempora a, dolorum quam
        dolore accusamus neque provident ut sit tempore architecto quibusdam
        soluta!
      </p>
      <br>
      <p class="dheading">
        <strong>How are we solving it?</strong>
      </p>
      <br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt,
        harum voluptas. Impedit quas ipsa eos suscipit tempora a, dolorum quam
        dolore accusamus neque provident ut sit tempore architecto quibusdam
        soluta!
      </p>
      <br>
      <p class="dheading">
        <strong>ABC jfdsfndf kjferjeww </strong>
      </p>
      <br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt,
        harum voluptas. Impedit quas ipsa eos suscipit tempora a, dolorum quam
        dolore accusamus neque provident ut sit tempore architecto quibusdam
        soluta!
      </p>
    </div>
  </div>
  </body>
</html>
