<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet" />
    <title>Human Practices</title>
  </head>
  <body>
    <div class="page">
      <br />
      <div class="title">
        <h1>Integrated Human Practices</h1>
      </div>
      <div class="text">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          natus exercitationem aspernatur officiis alias necessitatibus minus
          voluptas vel, deleniti veritatis consequuntur quos possimus
          repudiandae, eos impedit? Optio architecto voluptatibus quia!
        </p>
      </div>
      <div class="heading">
        <h1>heading#1</h1>
      </div>
      <div class="text">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          natus exercitationem aspernatur officiis alias necessitatibus minus
          voluptas vel, deleniti veritatis consequuntur quos possimus
          repudiandae, eos impedit? Optio architecto voluptatibus quia!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          natus exercitationem aspernatur officiis alias necessitatibus minus
          voluptas vel, deleniti veritatis consequuntur quos possimus
          repudiandae, eos impedit? Optio architecto voluptatibus quia!
        </p>
      </div>

      <div class="heading">
        <h1>heading#2</h1>
      </div>
      <div class="text">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          natus exercitationem aspernatur officiis alias necessitatibus minus
          voluptas vel, deleniti veritatis consequuntur quos possimus
          repudiandae, eos impedit? Optio architecto voluptatibus quia!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          natus exercitationem aspernatur officiis alias necessitatibus minus
          voluptas vel, deleniti veritatis consequuntur quos possimus
          repudiandae, eos impedit? Optio architecto voluptatibus quia!
        </p>
      </div>

      <div class="heading">
        <h1>heading#3</h1>
      </div>
      <div class="text">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          natus exercitationem aspernatur officiis alias necessitatibus minus
          voluptas vel, deleniti veritatis consequuntur quos possimus
          repudiandae, eos impedit? Optio architecto voluptatibus quia!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          natus exercitationem aspernatur officiis alias necessitatibus minus
          voluptas vel, deleniti veritatis consequuntur quos possimus
          repudiandae, eos impedit? Optio architecto voluptatibus quia!
        </p>
      </div>
    </div>
  </body>
</html>
