<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet" />
    <title>Model</title>
  </head>
  <body>
    <br />
    
      <div class="title">
        <h1>Model</h1>
      </div>
      <div class="heading">
        <h1>Space Biology</h1>
      </div>
      <div class="Content">
        <div class="model-subheading">
          <h2>XYZWERabcde</h2>
        </div>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minima
          voluptas sunt suscipit perferendis quasi qui beatae nam at amet.
          Reiciendis dolores doloremque hic error sequi vitae ad et temporibus!
        </p>
        <br />
        <div class="model-subheading2">
          <h3>ABCDE</h3>
        </div>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minima
          voluptas sunt suscipit perferendis quasi qui beatae nam at amet.
          Reiciendis dolores doloremque hic error sequi vitae ad et temporibus!
        </p>
        <br />
        <div class="model-subheading2">
          <h3>ABCDE</h3>
        </div>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minima
          voluptas sunt suscipit perferendis quasi qui beatae nam at amet.
          Reiciendis dolores doloremque hic error sequi vitae ad et temporibus!
        </p>
        <br />
        <div class="model-subheading2">
          <h3>ABCDE</h3>
        </div>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minima
          voluptas sunt suscipit perferendis quasi qui beatae nam at amet.
          Reiciendis dolores doloremque hic error sequi vitae ad et temporibus!
        </p>
        <br />
        <div class="model-subheading2">
          <h3>ABCDE</h3>
        </div>
        <br />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minima
          voluptas sunt suscipit perferendis quasi qui beatae nam at amet.
          Reiciendis dolores doloremque hic error sequi vitae ad et temporibus!
        </p>
      </div>
      <br />
    </div>
  </body>
</html>
