<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet" />
    <title>Notebook</title>
  </head>
  <body>
    <br />
    <div class="title">
      <h1>Lab Notebook</h1>
    </div>
    <div class="heading Content">
      <h1>Dry Lab</h1>
      <br />
      <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
        eligendi facere quod culpa libero asperiores repudiandae dolor similique
        labore, adipisci provident laborum et, quam laudantium optio illo
        voluptate eaque consequuntur?
      </li>
      <br />
      <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
        eligendi facere quod culpa libero asperiores repudiandae dolor similique
        labore, adipisci provident laborum et, quam laudantium optio illo
        voluptate eaque consequuntur?
      </li>
      <br />
      <h1>Wet Lab</h1>
      <br />
      <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
        eligendi facere quod culpa libero asperiores repudiandae dolor similique
        labore, adipisci provident laborum et, quam laudantium optio illo
        voluptate eaque consequuntur?
      </li>
      <br />
      <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
        eligendi facere quod culpa libero asperiores repudiandae dolor similique
        labore, adipisci provident laborum et, quam laudantium optio illo
        voluptate eaque consequuntur?
      </li>
      <br />
    </div>
  </body>
</html>
