<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Custom CSS -->
    <link href="style.css" rel="stylesheet" />
    <title>Software</title>
  </head>
  <body>
    <br />
    <div class="title">
      <h1>Software</h1>
    </div>
    <div class="Content heading">
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, nulla
        fugit fuga delectus vel quos laborum doloribus! Fuga modi dignissimos
        quasi illum assumenda possimus iure. Quas ipsam laudantium temporibus
        illo!
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, nulla
        fugit fuga delectus vel quos laborum doloribus! Fuga modi dignissimos
        quasi illum assumenda possimus iure. Quas ipsam laudantium temporibus
        illo!
      </p>
      <br />
      <div class="model-subheading">
        <h1>Subheading#1</h1>
      </div>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste
        optio maiores, odit nemo accusamus ipsa omnis, excepturi eveniet minus
        corrupti enim tempore eum laboriosam aliquid beatae eos minima quas.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam
        eaque exercitationem optio earum dolores necessitatibus atque obcaecati,
        illum nobis dolore impedit natus at! Reprehenderit numquam tempore
        accusantium nisi in?
      </p>
      <br />
      <div class="model-subheading">
        <h1>Subheading#2</h1>
      </div>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iste
        optio maiores, odit nemo accusamus ipsa omnis, excepturi eveniet minus
        corrupti enim tempore eum laboriosam aliquid beatae eos minima quas.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam
        eaque exercitationem optio earum dolores necessitatibus atque obcaecati,
        illum nobis dolore impedit natus at! Reprehenderit numquam tempore
        accusantium nisi in?
      </p>

      <br />
    </div>
  </body>
</html>
